html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, img,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  outline: 0;
}

:focus {
  outline: 0;
}

b, strong {
  font-weight: bold;
}

label, button {
  cursor: pointer;
}

button {
  padding: 0;
}

header, aside, nav, footer, article, section {
  display: block;
}

html {
  overflow-x: hidden;
  width: 100%;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-right: 0 !important;
  overflow-x: hidden;
  color: #333;
  font-size: 14px;
  line-height: 1.7;
}

em {
  font-style: italic;
}

a {
  -webkit-transition: color 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #39F;
}

a:focus, a:hover, a:active {
  text-decoration: none;
  color: blue;
  -webkit-transition: color 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Avenir Next LT W04 Bold";
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: black;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
}
